$font-stack-Benzin: 'Benzin', 'Bahnschrift', sans-serif;

.title-font {
  font-family: $font-stack-Benzin;

  &_bold {
    font-weight: 700;
  }

  &_regular {
    font-weight: 400;
  }

  h1 {
    font-size: 100px;
    line-height: auto;
  }

  h2 {
    font-size: 48px;
    line-height: 44px;
  }
}

.subtitle-font {
  font-size: $font-stack-Benzin;
  font-weight: 500;
  font-size: 20px;
  line-height: auto;
}

.text-font {
  font-family: 'Bahnschrift', 'Arial', sans-serif;
  
  &_bold {
    font-weight: 700;
  }

  &_regular {
    font-weight: 400;
  }

  &_size_big {
    font-size: 16px;
    line-height: 20px;
  }

  &_size_medium {
    font-size: 14px;
    line-height: 20px;
  }

  &_size_small {
    font-size: 13px;
    line-height: 16px;
  }

  &_size_tiny {
    font-size: 11px;
    line-height: 12px;
  }
}