.intro {
  height: 600px;
  width: 100%;
  padding: 0 5%;
  position: relative;
  justify-content: center;
  gap: 24px;


  &__video {
    width: 100%;
    height: auto;
    padding: 0 5%;
    position: absolute;
    left: -5%;
    top: 0;
    border: 0;
    z-index: -1;
  }

  &__title {
    width: 59%;
    margin: 0;
    color: #FFFFFF;
  }

  &__button {
    text-decoration: none;
  }
}