.news-card {
  height: 404px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  background-color: #F4F4F4;
  
  h2, p {
    margin: 0;
  }

  &:nth-child(1) {
    width: 49.2%;
  }

  &:nth-child(2) {
    width: 23.8%;
  }

  &:nth-child(3) {
    width: 23.8%;
  }

  &:nth-child(n + 4) {
    width: 32.2%;
  }

  &__image {
    height: 200px;
    margin-bottom: 16px; 
    align-self: stretch;
    object-fit: cover;
    border: 2px solid #222222;
  }

  &__discription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__link {
    margin: auto 0 3px 0;
    align-self: flex-end;
    text-decoration: none;
    color: #222222;
  }
}