.page {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h1 {
    font-size: 100px;
    line-height: auto;
  }

  h2 {
    font-size: 48px;
    line-height: 44px;
  }

  h3 {
    font-size: 34px;
    line-height: 40px;
  }
}