.popup {
  display: none;

  //глупое решение
  ul {
    margin: 20px;
  }

  &_active {
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &_background_black {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &_background_grey {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 386px;
    background-color: #222222;
    z-index: 2;
  }

  &__menu-list {
    //margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  &__search-element {
    width: 100vw;
    position: sticky;
    top: 172px;
    align-items: center;
  }

  &__search-input {
    height: 52px;
    width: 90vw;
    color: #DDE0E4;
    background-color: #222222;
    border: none;
    outline: none;
    padding: 0 12px;
    z-index: 2;
  }

  &__search-input::placeholder {
    color: #FFFFFF;
    text-align: right;
  }

  &__location {
    $height: 156px;
    $width: 400px;
    height: $height;
    width: $width;
    position: absolute;
    top: calc(50vh - $height / 2);
    left: calc(50vw - $width / 2);
    background-color: #FFFFFF;
    border-radius: 8px;
    display: grid;
    grid-template: 48px 36px auto / 312px auto;
    gap: 8px;
    place-items: start start;
  }

  &__location-title {
    padding-left: 24px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: end;
  }

  &__location-text {
    padding-left: 24px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  &__location-button {
    &_direction_right {
      justify-self: end;
    }
  }
}