.section {

  &_flex-column {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &_grid-column {
    display: grid;
    justify-content: space-between;
    align-content: space-between;
  }
}