.upcoming-events {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  justify-content: space-between;
  gap: 60px 0;

  h1 {
    margin: 0;
  }

  &__link {
    justify-self: end;
    text-decoration: none;
  }

  &__cards {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px 20px;
  }
}