.wrapper {
margin: 0 100%;
width: 300px;
border: 1px solid red;
}

.form {
    display: flex;
  flex-direction: column;
}
.wrapper_input{
  border: 1px solid rgb(29, 5, 136);
}

.errors {
  color: red
}