@import 'vendor/normalize/import-now';

@import 'vendor/fonts/stylesheet';

@import 'blocks/page';
@import 'blocks/partners';
@import 'blocks/font';
@import 'blocks/button';
@import 'blocks/form';
@import 'blocks/section';
@import 'blocks/header';
@import 'blocks/image-button';
@import 'blocks/popup';
@import 'blocks/main';
@import 'blocks/intro';
@import 'blocks/agency';
@import 'blocks/members';
@import 'blocks/member-card';
@import 'blocks/about-us';
@import 'blocks/our-purpose';
@import 'blocks/our-values-mission';
@import 'blocks/our-values';
@import 'blocks/our-mission';
@import 'blocks/our-offers';
@import 'blocks/our-possibilities';
@import 'blocks/call-for-registration.scss';
@import 'blocks/upcoming-events.scss';
@import 'blocks/event-card.scss';
@import 'blocks/last-news.scss';
@import 'blocks/news-card.scss';
@import 'blocks/footer.scss';
@import 'blocks/footer-nav.scss';
@import 'blocks/footer-subscribe.scss';
@import 'blocks/footer-credits.scss';
@import 'blocks/not-found.scss';
@import 'blocks/disciplines.scss';
@import 'blocks/navbar.scss';
@import 'blocks/registration-page.scss';
@import 'blocks/more-link.scss';
@import 'blocks/registration.scss';
