/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Benzin";
  src: url("/src/vendor/fonts/Benzin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Benzin";
  src: url("/src/vendor/fonts/Benzin-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Benzin";
  src: url("/src/vendor/fonts/Benzin-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.page {
  max-width: 1440px;
  overflow-x: scroll;
  margin: 0 auto;
  position: relative;
}
.page ul {
  margin: 0;
  padding: 0;
}

.title-font {
  font-family: "Benzin", "Bahnschrift", sans-serif;
}
.title-font_bold {
  font-weight: 700;
}
.title-font_regular {
  font-weight: 400;
}
.title-font_size_big {
  font-size: 96px;
  line-height: 90px;
}
.title-font_size_medium {
  font-size: 48px;
  line-height: 44px;
}
.title-font_size_small {
  font-size: 34px;
  line-height: 40px;
}

.subtitle-font {
  font-family: "Benzin", "Bahnschrift", sans-serif;
  font-size: 20px;
  line-height: auto;
}
.subtitle-font_medium {
  font-weight: 500;
}
.subtitle-font_regular {
  font-weight: 400;
}

.text-font {
  font-family: "Bahnschrift", "Arial", sans-serif;
}
.text-font_bold {
  font-weight: 700;
}
.text-font_regular {
  font-weight: 400;
}
.text-font_size_very-big {
  font-size: 24px;
  line-height: 28.8px;
}
.text-font_size_large {
  font-size: 18px;
  line-height: 24px;
}
.text-font_size_big {
  font-size: 16px;
  line-height: 20px;
}
.text-font_size_medium {
  font-size: 14px;
  line-height: 20px;
}
.text-font_size_small {
  font-size: 13px;
  line-height: 16px;
}
.text-font_size_tiny {
  font-size: 11px;
  line-height: 12px;
}

.button {
  color: white;
  background-color: #B73A34;
  border: 1px solid #B73A34;
  white-space: nowrap;
}
.button:focus, .button:hover {
  background-color: #C40C0C;
  border-color: #C40C0C;
}
.button:disabled {
  background-color: #D2D1D0;
  border-color: #D2D1D0;
  border-radius: 6px;
}
.button_hollow {
  color: #B73A34;
  background-color: white;
}
.button_hollow:focus, .button_hollow:hover {
  color: white;
}
.button_hollow:disabled {
  color: #D2D1D0;
  background-color: white;
}
.button_size_small {
  padding: 10px 20px;
}
.button_size_medium {
  height: 68px;
  width: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__input {
  width: 306px;
  height: 38px;
  padding-left: 12px;
  border: 1px solid #797981;
  border-radius: 4px;
}
.form__input:disabled {
  border-color: #DDE0E4;
}
.form__input:focus {
  outline: none;
  border: 2px solid #1E5B9C;
}
.form__input:invalid {
  border: 1px solid #FF0200;
}
.form__input-elements {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form__input-error {
  color: #FF0200;
}

.section_flex-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section_grid-column {
  display: grid;
  justify-content: space-between;
  align-content: space-between;
}

.header {
  height: 92px;
  width: 90%;
  padding: 0 5%;
  position: sticky;
  top: 40px;
  display: flex;
  gap: 5.9%;
  align-items: center;
  background-color: #222222;
  z-index: 3;
}
.header li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-menu {
  display: flex;
  gap: 26px;
  align-items: center;
}
.header__menu {
  width: 29%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: white;
}

.image-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: 0;
  cursor: pointer;
}
.popup {
  display: none;
}
.popup ul {
  margin: 20px;
}
.popup_active {
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 2;
}
.popup_background_black {
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_background_grey {
  background-color: rgba(0, 0, 0, 0.2);
}
.popup__menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 386px;
  background-color: #222222;
  z-index: 4;
}
.popup__menu-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.popup__search-element {
  width: 100vw;
  position: sticky;
  top: 172px;
  align-items: center;
}
.popup__search-input {
  height: 52px;
  width: 90vw;
  color: #DDE0E4;
  background-color: #222222;
  border: none;
  outline: none;
  padding: 0 12px;
  z-index: 4;
}
.popup__search-input::placeholder {
  color: #FFFFFF;
  text-align: right;
}
.popup__location {
  height: 156px;
  width: 400px;
  position: absolute;
  top: calc(50vh - 78px);
  left: calc(50vw - 200px);
  background-color: #FFFFFF;
  border-radius: 8px;
  display: grid;
  grid-template: 48px 36px auto/312px auto;
  gap: 8px;
  place-items: start start;
}
.popup__location-title {
  padding-left: 24px;
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
}
.popup__location-text {
  padding-left: 24px;
  grid-column: 1/-1;
  grid-row: 2/3;
}
.popup__location-button_direction_right {
  justify-self: end;
}

.main {
  width: 90%;
  margin: 192px auto 220px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.intro {
  height: 600px;
  width: 100%;
  padding: 0 5%;
  position: relative;
  justify-content: center;
  gap: 24px;
}
.intro__video {
  width: 100%;
  height: auto;
  padding: 0 5%;
  position: absolute;
  left: -5%;
  top: 0;
  border: 0;
  z-index: -1;
}
.intro__title {
  width: 59%;
  margin: 0;
  color: #FFFFFF;
}
.intro__button {
  text-decoration: none;
}

.agency {
  height: 739px;
  width: 100%;
  gap: 60px;
}
.agency h1 {
  margin: 0;
}
.agency .agency__map {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.agency .agency__input {
  height: 40px;
  width: 304px;
  z-index: 2;
  border: 2px solid #222222;
  color: #222222;
  padding: 0 0 0 12px;
  box-sizing: border-box;
}
.agency .agency__input:hover {
  outline: none;
}
.agency .agency__input:focus {
  outline: none;
}
.agency .agency__select {
  height: 40px;
  width: 304px;
  z-index: 2;
  padding: 0 0 0 12px;
  background-color: #222222;
  color: #FFFFFF;
  border: none;
}
.agency .agency__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.members {
  height: 664px;
}
.members__title {
  margin: 0;
  grid-column: 1/3;
}

.member-card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: stretch;
  align-content: start;
  gap: 0 20px;
  background-color: #F4F4F4;
}
.member-card__image {
  height: 250px;
  width: 304px;
  grid-row: 1/4;
  border: 2px solid #222222;
}
.member-card__profession {
  margin: 0;
}
.member-card__name {
  margin: 16px 0 0 0;
}
.member-card__description {
  margin: 12px 0 0 0;
}

.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.about-us__title {
  margin: 0 0 20px 0;
  align-self: flex-start;
}
.about-us__concept {
  margin: 0;
  text-align: center;
}
.about-us__borderline {
  width: 100%;
  border-bottom: 1px solid #222222;
}

.our-purpose {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 16px 22px;
}
.our-purpose p {
  margin: 0;
}
.our-purpose__image {
  height: 331px;
  width: 734px;
  grid-row: 1/3;
  border: 2px solid #222222;
}
.our-purpose__title {
  margin: 0;
  align-self: end;
}

.our-values-mission {
  height: 372px;
  width: 100%;
  padding: 0 5%;
  background-color: #DDE0E4;
  display: flex;
  align-items: center;
}

.our-values {
  margin: 40px 0 36px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.our-values li {
  display: flex;
  justify-content: flex-start;
}
.our-values p {
  margin: 0;
}
.our-values__title {
  text-align: start;
  margin: 0;
}
.our-values__list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
}

.our-mission {
  height: 216px;
  width: 51vw;
  margin-left: auto;
  justify-content: center;
  gap: 12px;
  padding-left: 40px;
  background-color: #FFFFFF;
}
.our-mission h2, .our-mission p {
  margin: 0;
}

.our-offers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 16px 20px;
}
.our-offers ul {
  padding-left: 15px;
}
.our-offers li {
  margin-bottom: 8px;
}
.our-offers h1, .our-offers p {
  margin: 0;
}
.our-offers__list {
  list-style-type: square;
}
.our-offers__image {
  height: 450px;
  width: 736px;
  grid-row: 1/3;
  border: 2px solid #222222;
}

.our-possibilities {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 414px auto 623px;
  grid-auto-flow: column;
  gap: 30px 20px;
}
.our-possibilities__element {
  border: 2px solid #222222;
}
.our-possibilities__element:nth-child(1) {
  grid-row: 1/2;
}
.our-possibilities__element:nth-child(2) {
  grid-row: 2/4;
}
.our-possibilities__element:nth-child(3) {
  grid-row: 1/3;
}
.our-possibilities__element:nth-child(4) {
  grid-row: 3/4;
}

.call-for-registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.call-for-registration p {
  margin: 0;
  font-size: 32px;
  text-align: center;
}
.call-for-registration__button {
  margin-top: 32px;
}

.upcoming-events {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  justify-content: space-between;
  gap: 60px 0;
}
.upcoming-events h1 {
  margin: 0;
}
.upcoming-events__link {
  justify-self: end;
  text-decoration: none;
}
.upcoming-events__cards {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px 20px;
}

.event-card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: start;
  gap: 12px 20px;
  background-color: #F4F4F4;
}
.event-card p {
  margin: 0;
}
.event-card__image {
  height: 250px;
  width: 304px;
  grid-row: 1/5;
  border: 2px solid #222222;
}
.event-card__info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.event-card__title {
  margin: 4px 0 0 0;
}
.event-card__link {
  justify-self: end;
  align-self: end;
  text-decoration: none;
  margin-bottom: 3px;
  color: #222222;
}

.last-news {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 60px 0;
}
.last-news h1 {
  margin: 0;
}
.last-news__link {
  justify-self: end;
  text-decoration: none;
}
.last-news__cards {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 0;
}

.news-card {
  height: 404px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  background-color: #F4F4F4;
}
.news-card h2, .news-card p {
  margin: 0;
}
.news-card:nth-child(1) {
  width: 49.2%;
}
.news-card:nth-child(2) {
  width: 23.8%;
}
.news-card:nth-child(3) {
  width: 23.8%;
}
.news-card:nth-child(n+4) {
  width: 32.2%;
}
.news-card__image {
  height: 200px;
  margin-bottom: 16px;
  align-self: stretch;
  object-fit: cover;
  border: 2px solid #222222;
}
.news-card__discription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news-card__link {
  margin: auto 0 3px 0;
  align-self: flex-end;
  text-decoration: none;
  color: #222222;
}

.footer {
  width: 91%;
  margin-top: 220px;
  flex-direction: column;
  align-items: stretch;
  gap: 60px;
  padding: 80px 4.5%;
  display: flex;
  background-color: #222222;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-nav li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-nav__nav-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}
.footer-nav__nav-menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer-subscribe {
  width: 38.1%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  align-items: stretch;
  gap: 16px 11%;
}
.footer-subscribe__title {
  grid-column: 1/3;
  margin: 0;
  color: #FFFFFF;
}
.footer-subscribe__subtitle {
  grid-column: 1/3;
  margin: 0 0 8px 0;
  color: #FFFFFF;
}
.footer-subscribe__input {
  padding: 0 0 0 12px;
  border: 1px solid #DDE0E4;
  box-sizing: border-box;
}
.footer-subscribe__input:hover {
  outline: none;
}
.footer-subscribe__input:focus {
  outline: none;
}
.footer-subscribe__privacy-policy {
  grid-column: 1/3;
  margin: 0;
  color: #FFFFFF;
}
.footer-subscribe__privacy-policy a {
  text-decoration: none;
  color: #0000FF;
}

.footer-credits {
  padding-top: 35px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  border-top: 1px solid #FFFFFF;
}
.footer-credits p {
  margin: 0;
  color: #FFFFFF;
}
.footer-credits__link-block {
  margin-left: auto;
  display: flex;
  gap: 15px;
}
.footer-credits__link {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 140px 0 874px 0;
}
.not-found__subtitle {
  color: #C40C0C;
}

.errors {
  color: red;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.form label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.checkbox_block {
  display: flex;
  flex-direction: column;
}
.checkbox_block p {
  font-size: 16px;
  line-height: 18px;
}

.label_checkbox {
  display: flex;
  align-items: baseline;
}
.label_checkbox p {
  margin-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.label_checkbox p a {
  cursor: pointer;
}

.input {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.item {
  border-bottom: 1px solid #f4f4f4;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
  color: #222222;
  cursor: pointer;
}

.item:hover {
  color: red;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.left_block {
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 50%;
  background: #222222;
}

.form {
  max-width: 555px;
  padding: 80px 90px;
}
.form h1 {
  font-family: Bahnschrift;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
}

.right_block {
  width: 48%;
  height: 100%;
  background-image: url(../../assets/Address.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
.nav a {
  padding: 0 10px;
  background: #222222;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
